.app {
  position: relative;
  height: 100vh;
}


.gallery{
  padding: 1em;
  column-count: 4;

}

.gallery> img{
  width: 100%;
  margin-bottom: 1.1em;
  border-radius: 10px;
}

@media(max-width: 992px){
  .gallery{
    column-count: 3;
  }
}

@media(max-width: 768px){
  .gallery{
    column-count: 2;
  }
}
@media(max-width: 500px){
  .gallery{
    column-count: 1;
  }
}

.loader{
  align-content: center;
}

.gallery>img:hover{
  filter: grayscale(100%);
transform:scale(1.05);
}

.modal{
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-direction: colomn;
  justify-content: center;
  position: relative;
  height: 600px;
  
  
}




.button__left{
  color: #2e81f4;
  
  position: absolute;
  opacity: .4;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #2e81f4;;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.button__right{
    color: #2e81f4;
    opacity: .4;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #2e81f4;;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.modal__row>.MuiSvgIcon-root:hover{
  color: gray;
}



.modal__row{
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.modal__row {
          display: flex;
          flex-direction: row;
        }
        .modal__row :nth-child(1) { order: 1; }
        .modal__row :nth-child(2) { order: 3; }
        .modal__row :nth-child(3) { order: 2; }

.modal__row>img {
    border: 5px solid #ddd;	/* thickness and color of border */
  border-radius: 4px;		/* edge rounding of border */

 padding: 10px;
 width: 100%;
  height: auto;
}