
@keyframes ldio-12f6g7aliyi {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-12f6g7aliyi div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 20px solid #93dbe9;
  border-top-color: transparent;
  border-radius: 50%;
  align-self: center;
}
.ldio-12f6g7aliyi div {
  animation: ldio-12f6g7aliyi 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-h25vuh455pd {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-12f6g7aliyi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-12f6g7aliyi div { box-sizing: content-box; }
